body {
	//color: $color-font-default;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	line-height: 1.6;
	// padding for large screen sizes
	padding: 0 1rem 1rem 1rem;
}


.header {
	&__heading {
		text-align: center;
	}
	&__heading--primary {
		font-size: 2rem;
		font-weight: 900;
	}
	
	&__heading--secondary {
		font-size: 1.7rem;
	}
	&__paragraph {
		text-align: center;
	}
}

// topography of paragraph;
.paragraph {
	font-size: 1.2rem;
}

// topography of navbar;
.navbar {
}

// topography of hamburger menu;
.hamburger {
}

// topography of buttons;
.btn {
}

// topography of about-section;
.header {
}

// topography of about-section;
.about {
}

// topography of contact-section;
.contact {
}

// topography of footer-section;
.footer {
}
