body {
	//color: $color-font-default;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	line-height: 1.6;
	// padding for large screen sizes
	padding: 0 2rem 2rem 2rem;

	@include respond(tab-land) {
		// 0 padding on smaller screen sizes
		// and adjust the navbar margin-left and margin-right to 0 as well
		padding: 0;
	}
}

// topography of heading-primary;
.header {
	&__heading--primary {

		font-size: 5rem;

		// @include respond(tab-port) {
		// 	font-size: 10rem;
		// }
		// @include respond(tab-land) {
		// 	font-size: 15rem;
		// }
		// @include respond(desk) {
		// 	font-size: 20rem;
		// }
		// @include respond(big-desk) {
		// 	font-size: 25rem;
		// }
		
	}

	// topography of heading-secondary;
	&__heading--secondary {
		
		font-size: 3rem;

		// @include respond(tab-port) {
		// 	font-size: 6rem;
		// }
		// @include respond(tab-land) {
		// 	font-size: 9rem;
		// }
		// @include respond(desk) {
		// 	font-size: 12rem;
		// }
		// @include respond(big-desk) {
		// 	font-size: 18rem;
		// }
	}
}

// topography of heading-tertiary;
.heading-tertiary {
}

// topography of paragraph;
.paragraph {
	font-size: 1.4rem;
}

// topography of navbar;
.navbar {
}

// topography of hamburger menu;
.hamburger {
}

// topography of buttons;
.btn {
}

// topography of about-section;
.header {
}

// topography of about-section;
.about {
}

// topography of contact-section;
.contact {
}

// topography of footer-section;
.footer {
}
