/////////////////////////////////////////////////////////////////////
// HEADER
/////////////////////////////////////////////////////////////////////

.header {

	display: flex;
	flex-direction: column;
	justify-content: center;
	

	&__heading {
		.heading__primary {
			&--main, &--sub {
				display: block;
			}
		}
	}

	&__paragraph {
	
	}
		
	&__button {
	
	}
		
}

